<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar" id="nav">
    <i class="navbar-brand" style="color:aliceblue">
      <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/2099.png" width="30" height="30"
        class="d-inline-block align-top" alt="">
      NETLINK.com
    </i>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/about">About us </a>
      </li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>